.tabs {
  position: absolute;
  width: 503px;
  height: 50px;
  left: 355px;
  top: 160px;
}

.cheap {
  position: absolute;
  width: 138px;
  height: 20px;
  left: calc(50% - 138px/2 + 1px);
  top: 175px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  /* color: #FFFFFF; */
  color: #4A4A4A;
}

.cheapRect {
  position: absolute;
  width: 252px;
  height: 50px;
  left: calc(50% - 252px/2 + 1px);
  top: 160px;
  /* Primary Colors/White */
  background: #FFFFFF;
  /* Secondary Colors/Border */
  border: 1px solid #DFE5EC;
  box-sizing: border-box;
}

.cheapRect:active {
  /* Frequently Used/Primary 500 */
  background: #2196F3;
}

.fast {
  position: absolute;
  width: 138px;
  height: 20px;
  left: calc(50% - 138px/2 + 253px);
  top: 175px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4A4A4A;
}

.fastRect {
  position: absolute;
  width: 251px;
  height: 50px;
  left: calc(50% - 251px/2 + 252.5px);
  top: 160px;
  /* Primary Colors/White */
  background: #FFFFFF;
  /* Secondary Colors/Border */
  border: 1px solid #DFE5EC;
  box-sizing: border-box;
}

.fastRect:active {
  /* Frequently Used/Primary 500 */
  background: #2196F3;
}