.filterBoard {
  padding: 17px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  margin-right: 20px;
  width: 232px;
  height: 252px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.textCount {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4a4a4a;
}

.textCount p {
  margin: 0px 0px 2px 20px;
}
