/* .app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;

  grid-template-areas: 
  "f t"
  "f tic";

  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
} */

.app-wrapper {
  position: relative;
  width: 960px;
  height: 1350px;
  background: #F3F7FA;
}